body {
    background-color:transparent;
}

h1 {color:white;
    font-family: "Sofia", serif;
        font-weight: 400;
        font-style: normal;
      }
      
h5{
    color:white;
    font-family: "DM Mono", serif;
  font-weight: 300;
  font-style: normal;}

input{border:0;
    border-bottom:2px solid gray;

}
.hellodiv{
    text-align:center;
    background-color:black;
    margin:auto;
    width:20%; 
    padding:20px;
    border-radius:5px;
    
}
input[type=text] {
    border:none;
    color:white;
    background-color:transparent;
    border-bottom:1px solid gray;
    width: 100%;
    padding-bottom:10px;
}
button{
    background-color:gray;
    color:white;
    margin-top:20px;
    width:100%;
    padding:10px;
}